.nav-bar {
    background-color: grey;
    overflow: auto;
}
.nav-bar a {
    color: white;
    text-decoration: none;
}
  
.nav-bar ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}
.nav-bar li {
    float: left;
    border-style: solid;
    background-color: grey;
    margin: 0;
    padding: 10px;
}

.nav-bar li:first-child, li:last-child {
    color:red;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}